# Ignore vasm source build folder
/vasm

# Ignore intermediate files from .deb package building process
/linux/debian/vasmm68k
/linux/debian/debhelper-build-stamp
/linux/debian/files
/vasmm68k_*

# Ignore intermediate files from Chocolatey package building process
/windows/choco/bin

# Ignore build artifacts
/build_results
