# Ignore vasm source build folder
/vasm

# Ignore intermediate files from .deb package building process
/debian/vasmm68k*
/debian/debhelper-build-stamp
/debian/files
/vasmm68k_*

# Ignore intermediate files from Chocolatey package building process
/choco/bin

# Ignore build artifacts
/build_results
