# Ignore vasm source build folder
/vasm

# Ignore intermediate files from .deb package building process
/debian/vasmm68k*
/debian/debhelper-build-stamp
/debian/files

# Ignore build artifacts
/build_results

# Ignore temporary config-file for make (used for sending commands Make.mk -> debuild -> debian/rules)
ConfigDistribution.mk