Source: vasmm68k
Maintainer: Username <user@email.com>
Build-Depends: debhelper (>= 9),
               wget, ca-certificates, lsb-release,
               libevent-dev

Package: vasmm68k
Architecture: any
Description: vasm (m68k) assembler thingy
Section: development
Priority: optional

