#!/usr/bin/make -f

include Config.mk

ifeq ($(strip $(DISTRIBUTION)),)
DISTRIBUTION := $(shell lsb_release -sr)
endif

PACKAGEVERSION = $(VASM_VERSION)-$(DISTRIBUTION)


%:
	dh $@

override_dh_auto_clean:
	make clean
	make download

override_dh_auto_build:
	make build

#override_dh_auto_test:
#
#override_dh_auto_install:
#	make install

override_dh_gencontrol:
	dh_gencontrol -- -v$(PACKAGEVERSION)
